.modal {
    background-color: rgba(132, 0, 255, 0.808);
    position: fixed;
    /* Use fixed positioning to keep the modal centered when scrolling */
    top: 50%;
    left: 50%;
    // width: 600px;
    // height: 60%;
    transform: translate(-50%, -50%);
    z-index: 100000;
    border-radius: 20px;

    // /* Add width and h
    h2 {
        text-align: center;
        color: white;
        font-family: monospace;
    }

    textarea {
        background-color: plum;
        border-radius: 10px;
        padding: 10px;
    }

    .contact_img {
        width: 100%;
        display: grid;
        // border: 1px solid red;

        img {
            width: 40%;
            // border: 1px solid red;
            justify-self: center;
        }
    }

    .close {
        position: absolute;
        right: 10px;
        cursor: pointer;

        // color: ;
        img {
            width: 20px;
        }
    }

    .form {
        // height: 3;
        display: grid;
        height: 100%;
        width: 100%;
        justify-content: center;
        margin: 5px;
    }

    input {
        width: 100%;
        outline: none;
        background-color: plum;
        border: none;
        border-radius: 10px;
        padding: 5px;
    }

    button {
        background-color: plum;
        border: none;
        outline: none;
        border-radius: 10px;
        color: rgb(32, 30, 30);
        transition: 100ms;
        cursor: pointer;
    }

    button:hover {
        color: white;
        background-color: purple;
    }
}

@media screen and (min-width:500px) {
    .modal {
        width: 50% !important;
    }
}

.linkd {
    width: 20px;
    position: absolute;
    right: 8px;
    bottom: 5px;
}